<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="1" preserve-order="true"
          name="D:/Online_Class_29/03 - Java Hybrid Framework/hybrid-nopcommerce-framework/resources">
        <classes>
            <class name="com.nopcommerce.users.Level_01_User_Register_Login_Repeat_Yourself"></class>
        </classes>
    </test>
</suite>